@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "tailwindcss";

body {
  @apply m-0 p-0 bg-white font-[Lato];
}
* {
  @apply box-border;
}
ul {
  @apply list-none;
}
a {
  @apply no-underline;
}
button,
input {
  @apply outline-none border-none;
}

/* LOGO */
.logo img {
  @apply w-[90px] text-left;
}

/* --- A BOX --- */
.a-b-img {
  @apply w-full h-[60%];
}
.a-b-img img {
  @apply w-full h-[50%] p-[15px] mt-10;
}
.a-box:hover {
  @apply border border-blue-600 shadow-lg shadow-blue-800/40;
}
.a-b-text {
  @apply w-full h-[40%] bg-black flex flex-col justify-center items-center text-center;
}
.a-b-text h2 {
  @apply text-white;
}
.a-b-text p {
  @apply text-[#ffffffa6] text-[1.1rem] max-w-[80%] mt-1 mb-2 leading-tight overflow-hidden text-ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.a-b-text p:hover {
  @apply text-white;
}
.a-b-text a {
  @apply mt-4;
}

/* --- PRESENTATION --- */
#presentaion {
  @apply pt-[30px] w-full h-[768px] relative bg-no-repeat bg-cover text-center;
  background-image: url(images/offer.png);
}
.pr-heading {
  @apply text-center w-[90%] max-w-[600px] absolute left-1/2 top-[55%] -translate-x-1/2 -translate-y-1/2;
}
.pr-heading span {
  @apply text-blue-600;
}
.pr-heading .details {
  @apply text-[1.2rem] text-[#c5c5c5];
}
.pr-heading h1 {
  @apply text-white text-[4rem] m-0 tracking-wider;
}
.pr-btns {
  @apply flex mt-10 ml-[35%];
}
.pr-btn {
  @apply w-[160px] h-[50px] flex items-center justify-center text-[1.4rem] bg-blue-600 text-white shadow-lg rounded-md;
}
.pr-btn:hover {
  @apply bg-transparent text-white border-2 border-blue-600 transition-all duration-500 ease-in-out;
}
